mixin category-list(number,title)
	li: a(href="#")
		span.sidebar--list__number=number
		span.sidebar--list__title=title

mixin box(className,image,title,content)
	.box(class=className)
		.box__image: img(src="http://adippsa.com/Images/foodima/"+image, alt="")
		.box__content
			h4=title
			p=content
			
